{% extends 'backend/backend_base.html' %}


{% block article_content %}
    <form action="{% url 'article_edit' article_id %}" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for form in form_obj %}
            <div class="form-group {% if form_obj.title.errors %}has-error{% endif %}">
                <label for='{{ form.auto_id }}'>{{ form.label }}</label>
                <span  class="small" style="color: red;">&nbsp;&nbsp;{{ form.errors.0 }}</span>
                {{ form }}
            </div>
        {% endfor %}
        <div>
            <label for="">分类</label>
            {% for category in category_list %}
                {% if category == article_obj.category %}
                    <input type="radio" name="category" checked value="{{ category.pk }}">{{ category }}&nbsp;
                {% else %}&nbsp;
                    <input type="radio" name="category" value="{{ category.pk }}">{{ category }}&nbsp;
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <label for="">标签</label>
            {% for tag in tag_list %}
                {% if tag in article_obj.tags.all %}
                    <input type="checkbox" name="tag" checked value="{{ tag.pk }}">{{ tag }}&nbsp;&nbsp;
                {% else %}
                    <input type="checkbox" name="tag" value="{{ tag.pk }}">{{ tag }}&nbsp;&nbsp;
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-group"><input type="submit" class="btn btn-primary" value="发布"></div>
    </form>
{% endblock %}

{% block js %}
    {% load static %}
    <script charset="utf-8" src="{% static '/kindeditor/kindeditor-all-min.js' %}"></script>
    <script charset="utf-8" src="{% static 'kindeditor/lang/zh-CN.js' %}"></script>
    <script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#id_content',
                {
                    width : '100%',
                    height: '500px',
                    resizeType: 1,
                    uploadJson : '{% url "upload_img" %}',  // 朝后端该url提交上传文件的请求
                    extraFileUploadParams : {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }
            );
        });
    </script>
{% endblock %}