<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sweet-alert-dist/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweet-alert-dist/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">BBS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'blog' request.user %}">{{ request.user }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-toggle="modal" data-target="#mySetPwdModal">修改密码</a></li>
                            <li><a href="#">修改头像</a></li>
                            <li><a href="#">后台管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a  href="" data-toggle="modal" data-target="#myModal">登录</a></li>
                    <li><a  href="" data-toggle="modal" data-target="#myRegModal">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        {#    左边栏#}
        {% block left_content %}
        {% endblock %}

        {#    右边栏#}
        {% block right_content %}
        {% endblock %}

    </div>
</div>


<!-- 登录Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title text-info" id="myModalLabel"><strong>用户登录&nbsp;</strong></span>
                <img class="img-circle" src="/media/avatar/default.png/" id="login_show_avatar">
            </div>
            <div class="modal-body">
                {% include 'alert_login.html'%}
            </div>
            <div class="modal-footer">
                <span id="error_msg" style="color: red" class="pull-left"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="login_btn">登录</button>
            </div>
        </div>
    </div>
</div>

<!-- 注册Modal -->
<div class="modal fade" id="myRegModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">注册页面</h4>
            </div>
            <div class="modal-body">
                {% include 'alert_register.html' with form_obj=form_obj %}
            </div>
            <div class="modal-footer">
                <span id="error_msg" style="color: red" class="pull-left"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="register_btn">注册</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改密码Modal -->
<div class="modal fade" id="mySetPwdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                {% include 'reset_password.html'%}
            </div>
            <div class="modal-footer">
                <span id="setpwd_error_msg" style="color: red" class="pull-left"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="resetpwd_btn">确定</button>
            </div>
        </div>
    </div>
</div>

{#登录ajax#}
<script>

    // 点击验证码图片刷新验证码
    $('#code_img').click(function () {
        let oldVal = $(this).attr('src');
        $(this).attr('src', oldVal += '?');
        // $(this).attr('src', '{% url "get_code" %}?')
    });

    // ajax提交数据
    $('#login_btn').click(function () {
        $.ajax({
            url:'/login/',
            type: 'post',
            data:{
                'username': $('#username').val(),
                'password': $('#password').val(),
                'code': $('#code').val()
            },
            success: function (args) {
                if (args.code === 1000){
                    $('#myModal').modal('hide');
                    window.location.reload();
                }else if(args.code === 3000){
                    $('#error_msg').text(args.msg);
                }
                else{
                    console.log(args.msg);
                    $.each(args.msg, function (field, errors) {
                        $(`#${field}`).next().text(errors[0]).parent().addClass('has-error');
                    })
                }
            }
        })
    });
</script>

{#注册ajax#}
<script>
    {# 选择图片立刻显示，文本域改变事件change, 文件阅读器对象FileReader #}
    $('#id_avatar').change(function () {
        let myFileReaderObj = new FileReader();
        let fileObj = $(this)[0].files[0];
        myFileReaderObj.readAsDataURL(fileObj);
        myFileReaderObj.onload = function () {
            $('#img_avatar').attr('src', myFileReaderObj.result)
        }
    });

    {# ajax请求   #}
    $('#register_btn').click(function () {
        let formDataObj = new FormData();
        $.each($('#myform').serializeArray(), function (index, obj) {
            formDataObj.append(obj.name, obj.value);
        });
        formDataObj.append('avatar', $('#id_avatar')[0].files[0]);

        $.ajax({
            url:'{% url "register" %}',
            type: 'post',
            data: formDataObj,
            contentType: false,
            processData: false,
            success: function (args) {
                if (args.code === 1000){
                    $('#myRegModal').modal('hide');
                    swal("恭喜！", "账号注册成功，请登录", "success");

                }else{
                    $.each(args.msg, function (field, errors) {
                        $(`#id_${field}`).next().text(errors[0]).parent().addClass('has-error');
                    })
                }
            }
        })
    });

    {# 聚焦输入框，提示信息消失 #}
    $('input').click(function () {
        $(this).next().text('').parent().removeClass('has-error');
    })

</script>


{#修改密码ajax#}
<script>
    // ajax提交数据
    $('#resetpwd_btn').click(function () {
        $.ajax({
            url:'/reset_password/',
            type: 'post',
            data:{
                'old_password': $('#old_password').val(),
                'new_password': $('#new_password').val(),
                're_password': $('#re_password').val(),
            },
            success: function (args) {
                if (args.code === 1000){
                    $('#mySetPwdModal').modal('hide');
                    swal("恭喜！", "密码修改成功, 请重新登录", "success");
                }else{
                    $('#setpwd_error_msg').text(args.msg);
                }
            }
        })
    });
</script>

{#登录用户头像显自动示#}
<script src="{% static 'js/show_user_avatar.js' %}"></script>


{% block js %}
{% endblock %}

</body>
</html>