<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sweet-alert-dist/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweet-alert-dist/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_avatar.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">BBS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><img src="/media/{{request.user.avatar }}/" alt="" class="img-circle user_avatar"></li>
                    <li><a href="{% url 'blog' request.user %}">{{ request.user }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-toggle="modal" data-target="#mySetPwdModal">修改密码</a></li>
                            <li><a href="#">修改头像</a></li>
                            <li><a href="#">后台管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a  href="" data-toggle="modal" data-target="#myModal">登录</a></li>
                    <li><a  href="" data-toggle="modal" data-target="#myRegModal">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        {#    左边栏#}
        {% block left_content %}
        {% endblock %}

        {#    右边栏#}
        {% block right_content %}
        {% endblock %}

    </div>
</div>


<!-- 登录Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title text-info" id="myModalLabel"><strong>用户登录&nbsp;</strong></span>
                <img class="img-circle user_avatar" src="/media/avatar/default.png/" id="login_show_avatar">
            </div>
            <div class="modal-body">
                {% include 'alert_login.html'%}
            </div>
            <div class="modal-footer">
                <span id="error_msg" style="color: red" class="pull-left"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="login_btn">登录</button>
            </div>
        </div>
    </div>
</div>

<!-- 注册Modal -->
<div class="modal fade" id="myRegModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">注册页面</h4>
            </div>
            <div class="modal-body">
                {% load mytags %}
                {% reg_form %}
            </div>
            <div class="modal-footer">
                <span id="error_msg" style="color: red" class="pull-left"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="register_btn">注册</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改密码Modal -->
<div class="modal fade" id="mySetPwdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                {% include 'reset_password.html'%}
            </div>
            <div class="modal-footer">
                <span id="setpwd_error_msg" style="color: red" class="pull-left"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="resetpwd_btn">确定</button>
            </div>
        </div>
    </div>
</div>


{#修改密码ajax#}
<script src="{% static 'js/reset_password.js' %}"></script>

{#登录用户头像显自动示#}
<script src="{% static 'js/show_user_avatar.js' %}"></script>

{#登录校验-ajax发送数据#}
<script src="{% static 'js/login_ajax.js' %}"></script>

{#注册js#}
<script src="{% static 'js/register.js' %}"></script>

{% block js %}
{% endblock %}

</body>
</html>