{% extends 'blog_base.html' %}

{% block content %}
    <ul class="media-list">
        {% for article in article_queryset %}
            <li class="media">
                <h4 class="media-heading"><a href="{% url 'article_detail' username article.pk %}">{{ article.title }}</a></h4>
                <div class="media-body">
                    {{ article.desc }}
                    {# posted @ 2020-06-10 09:33 让我思考一下 阅读(91) 评论(1) 推荐(0) 编辑#}
                    <div style="margin-top: 8px" class="pull-right">
                        <span>posted @</span>
                        <span>{{ article.publish_time|date:'Y-m-d H:m' }}&nbsp;&nbsp;</span>
                        <span>{{ article.blog.userinfo}}&nbsp;&nbsp;</span>
                        <span>评论({{ article.comment_counts }})&nbsp;&nbsp;</span>
                        <span class="glyphicon glyphicon-thumbs-up">点赞({{ article.up_counts }})</span>
                        <span><a href="">编辑</a></span>
                    </div>
                </div>
            </li>
            <hr>
        {% endfor %}
    </ul>

    {#分页器#}
    {% include 'mypagination.html' %}
{% endblock %}