<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweet-alert-dist/sweetalert.css' %}">
    <script src="{% static 'sweet-alert-dist/sweetalert.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ blog.blog_title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="">{{ request.user }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-toggle="modal" data-target="#mySetPwdModal">修改密码</a></li>
                            <li><a href="#">修改头像</a></li>
                            <li><a href="#">后台管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a  href="" data-toggle="modal" data-target="#myModal">登录</a></li>
                    <li><a href="{% url 'register' %}">注册</a></li>
                {% endif %}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">文章标签</h3>
                </div>
                <div class="panel-body">
                    {% for tag in tag_list %}
                        <p><a href="/{{ username }}/tag/{{ tag.pk }}/">{{ tag.name }}({{tag.c}})</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">文章分类</h3>
                </div>
                <div class="panel-body">
                    {% for category in category_list %}
                        <p><a href="/{{username}}/category/{{ category.pk }}">{{ category.name }}({{category.c}})</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">文章归档</h3>
                </div>
                <div class="panel-body">
                    {% for archive in archive_list %}
                        <p><a href="/{{ username }}/archive/{{ archive.month|date:'Y-m' }}/">{{ archive.month|date:'Y年m月' }}({{ archive.c }})</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="media-list">
                {% for article in article_queryset %}
                    <li class="media">
                        <h4 class="media-heading"><a href="">{{ article.title }}</a></h4>
                        <div class="media-body">
                            {{ article.desc }}
                            {# posted @ 2020-06-10 09:33 让我思考一下 阅读(91) 评论(1) 推荐(0) 编辑#}
                            <div style="margin-top: 8px" class="pull-right">
                                <span>posted @</span>
                                <span>{{ article.publish_time|date:'Y-m-d H:m' }}&nbsp;&nbsp;</span>
                                <span>{{ article.blog.userinfo}}&nbsp;&nbsp;</span>
                                <span>评论({{ article.comment_counts }})&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-thumbs-up">点赞({{ article.up_counts }})</span>
                                <span><a href="">编辑</a></span>
                            </div>
                        </div>
                    </li>
                    <hr>
                {% endfor %}


            </ul>

        </div>
    </div>
</div>


<!-- 登录Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">登录页面</h4>
            </div>
            <div class="modal-body">
                {% include 'tmp_login.html'%}
            </div>
            <div class="modal-footer">
                <span id="error_msg" style="color: red" class="pull-left"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="login_btn">登录</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改密码Modal -->
<div class="modal fade" id="mySetPwdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                {% include 'reset_password.html'%}
            </div>
            <div class="modal-footer">
                <span id="setpwd_error_msg" style="color: red" class="pull-left"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="resetpwd_btn">确定</button>
            </div>
        </div>
    </div>
</div>

{#登录ajax#}
<script>

    // 点击验证码图片刷新验证码
    $('#code_img').click(function () {
        let oldVal = $(this).attr('src');
        $(this).attr('src', oldVal += '?');
        // $(this).attr('src', '{% url "get_code" %}?')
    });

    // ajax提交数据
    $('#login_btn').click(function () {
        $.ajax({
            url:'/login/',
            type: 'post',
            data:{
                'username': $('#username').val(),
                'password': $('#password').val(),
                'code': $('#code').val()
            },
            success: function (args) {
                if (args.code === 1000){
                    $('#myModal').modal('hide');
                    window.location.reload();
                }else if(args.code === 3000){
                    $('#error_msg').text(args.msg);
                }
                else{
                    console.log(args.msg);
                    $.each(args.msg, function (field, errors) {
                        $(`#${field}`).next().text(errors[0]).parent().addClass('has-error');
                    })
                }
            }
        })
    });
</script>

{#修改密码ajax#}
<script>
    // ajax提交数据
    $('#resetpwd_btn').click(function () {
        $.ajax({
            url:'/reset_password/',
            type: 'post',
            data:{
                'old_password': $('#old_password').val(),
                'new_password': $('#new_password').val(),
                're_password': $('#re_password').val(),
            },
            success: function (args) {
                if (args.code === 1000){
                    $('#mySetPwdModal').modal('hide');
                    swal("恭喜！", "密码修改成功, 请重新登录", "success");
                }else{
                    $('#setpwd_error_msg').text(args.msg);
                }
            }
        })
    });
</script>



</body>
</html>