{% extends 'base.html' %}


{% block left_content %}
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                广告位出租
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                广告位出租
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                广告位出租
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
    </div>
{% endblock %}


{% block right_content %}
    <div class="col-md-9">
        <ul class="media-list">
            {% for article in article_queryset %}
                <li class="media">
                    <h4 class="media-heading"><a href="/{{ article.blog.userinfo }}/article/{{ article.pk }}">{{ article.title }}</a></h4>
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}" alt="..." width="60px">
                        </a>
                    </div>
                    <div class="media-body">
                        {{ article.desc }}
                        {#                            芒果和小猫 发布于 2020-06-11 15:27 评论(0)阅读(31)#}
                        <div style="margin-top: 8px">
                            <span><a href="/{{ article.blog.userinfo }}">{{ article.blog.userinfo }}</a>&nbsp;&nbsp;</span>
                            <span>发布于&nbsp;&nbsp;</span>
                            <span>{{ article.publish_time|date:'Y-m-d H:m' }}&nbsp;&nbsp;</span>
                            <span>评论({{ article.comment_counts }})&nbsp;&nbsp;</span>
                            <span class="glyphicon glyphicon-thumbs-up">点赞({{ article.up_counts }})&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </li>
                <hr>
            {% endfor %}


        </ul>

    </div>
{% endblock %}