<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_avatar.css' %}">
</head>
<body>

<div class="container-fluid">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-4 col-md-offset-4 login_zone">
            <div class="text-center">
                <img src="/static/img/default.png/" alt="" class="user_avatar img-circle" id="login_show_avatar">
                <hr>
                <p><strong class="text-info">代码改变世界</strong></p>
            </div>
            <br>
            {% csrf_token %}
            {% for form in form_obj %}
                <div class="form-group">
                    <label for="{{ form.auto_id }}">{{ form.label }}</label>
                    {{ form }}
                    <span style="color: red" class="pull-right">{{ form.errors.0 }}</span>
                </div>
            {% endfor %}

            <div class="form-group">
                <label for="">验证码</label>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="id_code">
                        <span id="error_msg" style="color: red" class="pull-left"></span>
                    </div>
                    <div class="col-md-8">
                        <img src="{% url 'get_code' %}" alt="" id="code_img" width="230" height="35">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-primary pull-right" id="login_btn"  value="登录">
                <br><br>
            </div>
        </div>

    </div>
</div>


<script src="{% static 'js/ajax_csrf.js' %}"></script>
<script src="{% static 'js/show_user_avatar.js' %}"></script>
<script src="{% static 'js/login_ajax.js' %}"></script>
</body>
</html>