<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center">注册页面</h3>
            <form id="myform">
                {% csrf_token %}
                {% for form in form_obj %}
                    <div class="form-group">
                        <label for="{{ form.auto_id }}">{{ form.label }}</label>
                        {{ form }}
                        <span style="color: red" class="pull-right">{{ form.errors.0 }}</span>
                    </div>
                {% endfor %}
            <div class="form-group">
                <label for="id_avatar">头像
                    <img src="{% static 'img/default.png' %}" alt="" id="img_avatar" width="100" style="margin-left: 10px">
                    <input type="file" id="id_avatar" name="avatar" style="display: none">
                </label>
            </div>
            <input type="button" id="reg_btn" class="btn btn-primary pull-right" value="注册">
            </form>
        </div>

        </div>
    </div>

    <script>
        {# 选择图片立刻显示，文本域改变事件change, 文件阅读器对象FileReader #}
        $('#id_avatar').change(function () {
            let myFileReaderObj = new FileReader();
            let fileObj = $(this)[0].files[0];
            myFileReaderObj.readAsDataURL(fileObj);
            myFileReaderObj.onload = function () {
                $('#img_avatar').attr('src', myFileReaderObj.result)
            }
        });

        {# ajax请求   #}
        $('#reg_btn').click(function () {
            let formDataObj = new FormData();
            $.each($('#myform').serializeArray(), function (index, obj) {
                formDataObj.append(obj.name, obj.value);
            });
            formDataObj.append('avatar', $('#id_avatar')[0].files[0]);

            $.ajax({
                url:'{% url "register" %}',
                type: 'post',
                data: formDataObj,
                contentType: false,
                processData: false,
                success: function (args) {
                    if (args.code === 1000){
                        window.location.href = args.url;
                    }else{
                        $.each(args.msg, function (field, errors) {
                            $(`#id_${field}`).next().text(errors[0]).parent().addClass('has-error');
                        })
                    }
                }
            })
        });

        {# 聚焦输入框，提示信息消失 #}
        $('input').click(function () {
            $(this).next().text('').parent().removeClass('has-error');
        })

    </script>


</body>
</html>